.App {
  text-align: center;
}
/*Tiles*/
.tile {
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.closed {
  background-image: url("../src/images/closed.svg");
}
.mine {
  background-image: url("../src/images/mine.svg");
}
.flag {
  background-image: url("../src/images/flag.svg");
}
.type0 {
  background-image: url("../src/images/type0.svg");
}
.type1 {
  background-image: url("../src/images/type1.svg");
}
.type2 {
  background-image: url("../src/images/type2.svg");
}
.type3 {
  background-image: url("../src/images/type3.svg");
}
.type4 {
  background-image: url("../src/images/type4.svg");
}
.type5 {
  background-image: url("../src/images/type5.svg");
}
.type6 {
  background-image: url("../src/images/type6.svg");
}
.type7 {
  background-image: url("../src/images/type7.svg");
}
.type8 {
  background-image: url("../src/images/type8.svg");
}
/*Face button*/
.face {
  background-size: 47px 47px;
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
}

.face_neutral {
  background-image: url("../src/images/face_neutral.svg");
}
.face_lose {
  background-image: url("../src/images/face_lose.svg");
}
.face_win {
  background-image: url("../src/images/face_win.svg");
}
/*mines*/
.mine_red {
  background-image: url("../src/images/mine_red.svg");
  background-size: 30px 30px;
}
.mine_wrong {
  background-image: url("../src/images/mine_wrong.svg");
  background-size: 30px 30px;
}

/*Digits*/
.digit {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 22px 47px;
  width: 22px;
  height: 47px;
  margin: 0 1px;
}
.d0 {
  background-image: url("../src/images/d0.svg");
}
.d1 {
  background-image: url("../src/images/d1.svg");
}
.d2 {
  background-image: url("../src/images/d2.svg");
}
.d3 {
  background-image: url("../src/images/d3.svg");
}
.d4 {
  background-image: url("../src/images/d4.svg");
}
.d5 {
  background-image: url("../src/images/d5.svg");
}
.d6 {
  background-image: url("../src/images/d6.svg");
}
.d7 {
  background-image: url("../src/images/d7.svg");
}
.d8 {
  background-image: url("../src/images/d8.svg");
}
.d9 {
  background-image: url("../src/images/d9.svg");
}
.d- {
  background-image: url("../src/images/d-.svg");
}
/*Table of dificulty*/
.table {
  border-collapse: collapse;
  background-color: white;
  position: absolute;
  margin: 0 auto;
  border: 2px solid brown;
  z-index: 2;
  left: 0;
  right: 0;
}

th,
td {
  border-top: 1px solid black;
  padding: 0;
}
input[type="number"] {
  width: 42px;
  font-size: 15px;
  text-align: right;
}
input:focus {
  background-color: rgb(245, 250, 238);
}

th {
  padding-right: 10px;
}

.header > * {
  background-color: brown;
  border: none;
  color: white;
}
.dimensions > * {
  border: none;
  background-color: rgb(230, 248, 127);
  font-size: 14px;
}
.close-dialog {
  font-weight: bold;
  font-size: 23px;
  line-height: 16px;
  cursor: pointer;
}
button {
  margin: 2px 20px;
}
